footer
  .container.text-center
    p.pull-left © 2015 All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/SaintDako/skywatch') GitHub Project
      li
        a(href='https://github.com/SaintDako/skywatch/issues') Issues