extends layout
block head-extensions
  != css('test')

block content
  include content-grid
  //.page-header
  .container-fluid
    .row
      .col-md-3
      .col-md-6 
        h1.landing-title Sky Events
      .col-md-3
    .row.landing-search
      .col-md-3
      .col-md-6 
        input.form-control(type='text' placeholder="Search")
      .col-md-3
    .row.landing-update
      .col-md-3
      .col-md-3 
        a.btn.btn-default.signup(href='/signup') Sign Up
      .col-md-3
        a.btn.btn-default.login(href='/login') Log In
      .col-md-3

    //- Current Updates
    .row
      +contents(['Jan 20, at 3:40AM','Jupiter is up today aaaaaaaaaaaaaaaaaaa'])
      +contents(['12:00PM, Jan 3','Perseids meteor shower'])
      +contents(['11:12PM','Lunar Eclipse'])
