extends layout
block head-extensions
  != css('test')

block content
  include content-grid
  //.page-header
  .container-fluid
    .row
      .landing-title 
        h1 Skywatch (Beta)
        p Easily find out when the next sky events are happening by subscribing to updates via email or SMS.
    //-
      .row.landing-update
        .col-md-3
        .col-md-3 
          a.btn.btn-default.signup(href='/signup') Sign Up
        .col-md-3
          a.btn.btn-default.login(href='/login') Log In
        .col-md-3