select
    option(value='AF') Afghanistan
  | &#x9;
  option(value='AX') &angst;land Islands
  | &#x9;
  option(value='AL') Albania
  | &#x9;
  option(value='DZ') Algeria
  | &#x9;
  option(value='AS') American Samoa
  | &#x9;
  option(value='AD') Andorra
  | &#x9;
  option(value='AO') Angola
  | &#x9;
  option(value='AI') Anguilla
  | &#x9;
  option(value='AQ') Antarctica
  | &#x9;
  option(value='AG') Antigua and Barbuda
  | &#x9;
  option(value='AR') Argentina
  | &#x9;
  option(value='AM') Armenia
  | &#x9;
  option(value='AW') Aruba
  | &#x9;
  option(value='AU') Australia
  | &#x9;
  option(value='AT') Austria
  | &#x9;
  option(value='AZ') Azerbaijan
  | &#x9;
  option(value='BS') Bahamas
  | &#x9;
  option(value='BH') Bahrain
  | &#x9;
  option(value='BD') Bangladesh
  | &#x9;
  option(value='BB') Barbados
  | &#x9;
  option(value='BY') Belarus
  | &#x9;
  option(value='BE') Belgium
  | &#x9;
  option(value='BZ') Belize
  | &#x9;
  option(value='BJ') Benin
  | &#x9;
  option(value='BM') Bermuda
  | &#x9;
  option(value='BT') Bhutan
  | &#x9;
  option(value='BO') Bolivia, Plurinational State of
  | &#x9;
  option(value='BQ') Bonaire, Sint Eustatius and Saba
  | &#x9;
  option(value='BA') Bosnia and Herzegovina
  | &#x9;
  option(value='BW') Botswana
  | &#x9;
  option(value='BV') Bouvet Island
  | &#x9;
  option(value='BR') Brazil
  | &#x9;
  option(value='IO') British Indian Ocean Territory
  | &#x9;
  option(value='BN') Brunei Darussalam
  | &#x9;
  option(value='BG') Bulgaria
  | &#x9;
  option(value='BF') Burkina Faso
  | &#x9;
  option(value='BI') Burundi
  | &#x9;
  option(value='KH') Cambodia
  | &#x9;
  option(value='CM') Cameroon
  | &#x9;
  option(value='CA') Canada
  | &#x9;
  option(value='CV') Cape Verde
  | &#x9;
  option(value='KY') Cayman Islands
  | &#x9;
  option(value='CF') Central African Republic
  | &#x9;
  option(value='TD') Chad
  | &#x9;
  option(value='CL') Chile
  | &#x9;
  option(value='CN') China
  | &#x9;
  option(value='CX') Christmas Island
  | &#x9;
  option(value='CC') Cocos (Keeling) Islands
  | &#x9;
  option(value='CO') Colombia
  | &#x9;
  option(value='KM') Comoros
  | &#x9;
  option(value='CG') Congo
  | &#x9;
  option(value='CD') Congo, the Democratic Republic of the
  | &#x9;
  option(value='CK') Cook Islands
  | &#x9;
  option(value='CR') Costa Rica
  | &#x9;
  option(value='CI') C&ocirc;te d&apos;Ivoire
  | &#x9;
  option(value='HR') Croatia
  | &#x9;
  option(value='CU') Cuba
  | &#x9;
  option(value='CW') Cura&ccedil;ao
  | &#x9;
  option(value='CY') Cyprus
  | &#x9;
  option(value='CZ') Czech Republic
  | &#x9;
  option(value='DK') Denmark
  | &#x9;
  option(value='DJ') Djibouti
  | &#x9;
  option(value='DM') Dominica
  | &#x9;
  option(value='DO') Dominican Republic
  | &#x9;
  option(value='EC') Ecuador
  | &#x9;
  option(value='EG') Egypt
  | &#x9;
  option(value='SV') El Salvador
  | &#x9;
  option(value='GQ') Equatorial Guinea
  | &#x9;
  option(value='ER') Eritrea
  | &#x9;
  option(value='EE') Estonia
  | &#x9;
  option(value='ET') Ethiopia
  | &#x9;
  option(value='FK') Falkland Islands (Malvinas)
  | &#x9;
  option(value='FO') Faroe Islands
  | &#x9;
  option(value='FJ') Fiji
  | &#x9;
  option(value='FI') Finland
  | &#x9;
  option(value='FR') France
  | &#x9;
  option(value='GF') French Guiana
  | &#x9;
  option(value='PF') French Polynesia
  | &#x9;
  option(value='TF') French Southern Territories
  | &#x9;
  option(value='GA') Gabon
  | &#x9;
  option(value='GM') Gambia
  | &#x9;
  option(value='GE') Georgia
  | &#x9;
  option(value='DE') Germany
  | &#x9;
  option(value='GH') Ghana
  | &#x9;
  option(value='GI') Gibraltar
  | &#x9;
  option(value='GR') Greece
  | &#x9;
  option(value='GL') Greenland
  | &#x9;
  option(value='GD') Grenada
  | &#x9;
  option(value='GP') Guadeloupe
  | &#x9;
  option(value='GU') Guam
  | &#x9;
  option(value='GT') Guatemala
  | &#x9;
  option(value='GG') Guernsey
  | &#x9;
  option(value='GN') Guinea
  | &#x9;
  option(value='GW') Guinea-Bissau
  | &#x9;
  option(value='GY') Guyana
  | &#x9;
  option(value='HT') Haiti
  | &#x9;
  option(value='HM') Heard Island and McDonald Islands
  | &#x9;
  option(value='VA') Holy See (Vatican City State)
  | &#x9;
  option(value='HN') Honduras
  | &#x9;
  option(value='HK') Hong Kong
  | &#x9;
  option(value='HU') Hungary
  | &#x9;
  option(value='IS') Iceland
  | &#x9;
  option(value='IN') India
  | &#x9;
  option(value='ID') Indonesia
  | &#x9;
  option(value='IR') Iran, Islamic Republic of
  | &#x9;
  option(value='IQ') Iraq
  | &#x9;
  option(value='IE') Ireland
  | &#x9;
  option(value='IM') Isle of Man
  | &#x9;
  option(value='IL') Israel
  | &#x9;
  option(value='IT') Italy
  | &#x9;
  option(value='JM') Jamaica
  | &#x9;
  option(value='JP') Japan
  | &#x9;
  option(value='JE') Jersey
  | &#x9;
  option(value='JO') Jordan
  | &#x9;
  option(value='KZ') Kazakhstan
  | &#x9;
  option(value='KE') Kenya
  | &#x9;
  option(value='KI') Kiribati
  | &#x9;
  option(value='KP') Korea, Democratic People&apos;s Republic of
  | &#x9;
  option(value='KR') Korea, Republic of
  | &#x9;
  option(value='KW') Kuwait
  | &#x9;
  option(value='KG') Kyrgyzstan
  | &#x9;
  option(value='LA') Lao People&apos;s Democratic Republic
  | &#x9;
  option(value='LV') Latvia
  | &#x9;
  option(value='LB') Lebanon
  | &#x9;
  option(value='LS') Lesotho
  | &#x9;
  option(value='LR') Liberia
  | &#x9;
  option(value='LY') Libya
  | &#x9;
  option(value='LI') Liechtenstein
  | &#x9;
  option(value='LT') Lithuania
  | &#x9;
  option(value='LU') Luxembourg
  | &#x9;
  option(value='MO') Macao
  | &#x9;
  option(value='MK') Macedonia, the former Yugoslav Republic of
  | &#x9;
  option(value='MG') Madagascar
  | &#x9;
  option(value='MW') Malawi
  | &#x9;
  option(value='MY') Malaysia
  | &#x9;
  option(value='MV') Maldives
  | &#x9;
  option(value='ML') Mali
  | &#x9;
  option(value='MT') Malta
  | &#x9;
  option(value='MH') Marshall Islands
  | &#x9;
  option(value='MQ') Martinique
  | &#x9;
  option(value='MR') Mauritania
  | &#x9;
  option(value='MU') Mauritius
  | &#x9;
  option(value='YT') Mayotte
  | &#x9;
  option(value='MX') Mexico
  | &#x9;
  option(value='FM') Micronesia, Federated States of
  | &#x9;
  option(value='MD') Moldova, Republic of
  | &#x9;
  option(value='MC') Monaco
  | &#x9;
  option(value='MN') Mongolia
  | &#x9;
  option(value='ME') Montenegro
  | &#x9;
  option(value='MS') Montserrat
  | &#x9;
  option(value='MA') Morocco
  | &#x9;
  option(value='MZ') Mozambique
  | &#x9;
  option(value='MM') Myanmar
  | &#x9;
  option(value='NA') Namibia
  | &#x9;
  option(value='NR') Nauru
  | &#x9;
  option(value='NP') Nepal
  | &#x9;
  option(value='NL') Netherlands
  | &#x9;
  option(value='NC') New Caledonia
  | &#x9;
  option(value='NZ') New Zealand
  | &#x9;
  option(value='NI') Nicaragua
  | &#x9;
  option(value='NE') Niger
  | &#x9;
  option(value='NG') Nigeria
  | &#x9;
  option(value='NU') Niue
  | &#x9;
  option(value='NF') Norfolk Island
  | &#x9;
  option(value='MP') Northern Mariana Islands
  | &#x9;
  option(value='NO') Norway
  | &#x9;
  option(value='OM') Oman
  | &#x9;
  option(value='PK') Pakistan
  | &#x9;
  option(value='PW') Palau
  | &#x9;
  option(value='PS') Palestinian Territory, Occupied
  | &#x9;
  option(value='PA') Panama
  | &#x9;
  option(value='PG') Papua New Guinea
  | &#x9;
  option(value='PY') Paraguay
  | &#x9;
  option(value='PE') Peru
  | &#x9;
  option(value='PH') Philippines
  | &#x9;
  option(value='PN') Pitcairn
  | &#x9;
  option(value='PL') Poland
  | &#x9;
  option(value='PT') Portugal
  | &#x9;
  option(value='PR') Puerto Rico
  | &#x9;
  option(value='QA') Qatar
  | &#x9;
  option(value='RE') R&eacute;union
  | &#x9;
  option(value='RO') Romania
  | &#x9;
  option(value='RU') Russian Federation
  | &#x9;
  option(value='RW') Rwanda
  | &#x9;
  option(value='BL') Saint Barth&eacute;lemy
  | &#x9;
  option(value='SH') Saint Helena, Ascension and Tristan da Cunha
  | &#x9;
  option(value='KN') Saint Kitts and Nevis
  | &#x9;
  option(value='LC') Saint Lucia
  | &#x9;
  option(value='MF') Saint Martin (French part)
  | &#x9;
  option(value='PM') Saint Pierre and Miquelon
  | &#x9;
  option(value='VC') Saint Vincent and the Grenadines
  | &#x9;
  option(value='WS') Samoa
  | &#x9;
  option(value='SM') San Marino
  | &#x9;
  option(value='ST') Sao Tome and Principe
  | &#x9;
  option(value='SA') Saudi Arabia
  | &#x9;
  option(value='SN') Senegal
  | &#x9;
  option(value='RS') Serbia
  | &#x9;
  option(value='SC') Seychelles
  | &#x9;
  option(value='SL') Sierra Leone
  | &#x9;
  option(value='SG') Singapore
  | &#x9;
  option(value='SX') Sint Maarten (Dutch part)
  | &#x9;
  option(value='SK') Slovakia
  | &#x9;
  option(value='SI') Slovenia
  | &#x9;
  option(value='SB') Solomon Islands
  | &#x9;
  option(value='SO') Somalia
  | &#x9;
  option(value='ZA') South Africa
  | &#x9;
  option(value='GS') South Georgia and the South Sandwich Islands
  | &#x9;
  option(value='SS') South Sudan
  | &#x9;
  option(value='ES') Spain
  | &#x9;
  option(value='LK') Sri Lanka
  | &#x9;
  option(value='SD') Sudan
  | &#x9;
  option(value='SR') Suriname
  | &#x9;
  option(value='SJ') Svalbard and Jan Mayen
  | &#x9;
  option(value='SZ') Swaziland
  | &#x9;
  option(value='SE') Sweden
  | &#x9;
  option(value='CH') Switzerland
  | &#x9;
  option(value='SY') Syrian Arab Republic
  | &#x9;
  option(value='TW') Taiwan, Province of China
  | &#x9;
  option(value='TJ') Tajikistan
  | &#x9;
  option(value='TZ') Tanzania, United Republic of
  | &#x9;
  option(value='TH') Thailand
  | &#x9;
  option(value='TL') Timor-Leste
  | &#x9;
  option(value='TG') Togo
  | &#x9;
  option(value='TK') Tokelau
  | &#x9;
  option(value='TO') Tonga
  | &#x9;
  option(value='TT') Trinidad and Tobago
  | &#x9;
  option(value='TN') Tunisia
  | &#x9;
  option(value='TR') Turkey
  | &#x9;
  option(value='TM') Turkmenistan
  | &#x9;
  option(value='TC') Turks and Caicos Islands
  | &#x9;
  option(value='TV') Tuvalu
  | &#x9;
  option(value='UG') Uganda
  | &#x9;
  option(value='UA') Ukraine
  | &#x9;
  option(value='AE') United Arab Emirates
  | &#x9;
  option(value='GB') United Kingdom
  | &#x9;
  option(value='US') United States
  | &#x9;
  option(value='UM') United States Minor Outlying Islands
  | &#x9;
  option(value='UY') Uruguay
  | &#x9;
  option(value='UZ') Uzbekistan
  | &#x9;
  option(value='VU') Vanuatu
  | &#x9;
  option(value='VE') Venezuela, Bolivarian Republic of
  | &#x9;
  option(value='VN') Viet Nam
  | &#x9;
  option(value='VG') Virgin Islands, British
  | &#x9;
  option(value='VI') Virgin Islands, U.S.
  | &#x9;
  option(value='WF') Wallis and Futuna
  | &#x9;
  option(value='EH') Western Sahara
  | &#x9;
  option(value='YE') Yemen
  | &#x9;
  option(value='ZM') Zambia
  | &#x9;
  option(value='ZW') Zimbabwe