if errorMessage
  .alert.alert-danger.fade.in
    button.close(type='button', data-dismiss='alert')
      span.ion-close-circled
    div= errorMessage
if infoMessage
  .alert.alert-info.fade.in
    button.close(type='button', data-dismiss='alert')
      span.ion-close-circled
    div= infoMessage
if successMessage
  .alert.alert-success.fade.in
    button.close(type='button', data-dismiss='alert')
      span.ion-close-circled
    div= successMessage