mixin contents(content)
    .row
      .col-md-2
      .col-md-8
          .col-md-3
            p.event-content.= content[0]
          .col-md-9
            p.event-content.= content[1]
      .col-md-2